@import '../../variables';

// views styles

.view.container {
  position: relative;
  margin-bottom: @fluid-full;
  background: @background-color;
  z-index: 1;

  .root.view {
    margin: 0;
    padding: @space-small;
    padding-top: @space-huge;

    .clients {

      .client {

        .image {
          margin: 0;
        }
      }
    }

    .member h4 {
      text-align: center;

      small {
        font-family: @font-family-monospace;
        color: @gray;
      }
    }
    @media (max-width: @tablet-width) {
      figure.figure.module.tablet-desktop {
        display: none;
      }
    }
    @media (min-width: @tablet-width) {
      figure.figure.module.mobile {
        display: none;
      }
    }
    @media (min-width: @desktop-width) {
      margin: 0 @space-jumbo;
    }
  }
}
