@import '../../variables';

// views styles

.view {
  position: relative;
  margin-bottom: @fluid-full;
  background: @background-color;
  background-image: linear-gradient(0deg, transparent 24%,
    rgba(125, 151, 255, 0.1) 25%,
    rgba(125, 151, 255, 0.1) 26%,
    transparent 27%, transparent 74%,
    rgba(125, 151, 255, 0.1) 75%,
    rgba(125, 151, 255, 0.1) 76%,
    transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%,
    rgba(125, 151, 255, 0.1) 25%,
    rgba(125, 151, 255, 0.1) 26%,
    transparent 27%, transparent 74%,
    rgba(125, 151, 255, 0.1) 75%,
    rgba(125, 151, 255, 0.1) 76%,
    transparent 77%, transparent);
  background-size: 50px 50px;
  z-index: 1;
}
