@import '../../variables';

// views styles

.view.frame {
  position: relative;
  background: @light;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding: 0 @sixteenth;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @eighth;
  }

  @media (min-width: @huge-desktop-width) {
    padding: 0 @eighth + @sixteenth;
  }

  .view {
    padding: @space-small + @space-tiny;

    &.root {
      margin: 0;
    }

    &.about {
      padding-top: 0;
      background-color: @blueprint-blue;

      p, h3, h4 {
        color: @gray-lighter;
      }

      .segment {

        &.header {
          height: @space-god;
          border-bottom: @space-micro solid @dark;
          background-size: cover;
          background-position: @half @half;
          background-repeat: no-repeat;

          .title {
            text-align: center;
            margin-bottom: 0;
          }
        }

        &.summary {

          .statement {
            text-align: center;
          }
        }
      }
    }

    &.blog {
      margin: 0;

      &.post {

      }
    }
  }
}
