@import '../../variables';

// modules styles

.module {
  position: relative;
	margin: 0;
	padding: @space-small;

  &.menu {
    padding: 0;
  }

  &.figure {
    padding: 0;

    .figure.caption {
      text-align: left;
    }
  }

  &.article {
    margin-bottom: @space-large;
    padding: 0;

    @media (min-width: @tablet-width) {
      margin-bottom: @space-jumbo;
    }

    .article.title {
      margin: 0;
    }
  }

  &.mailchimp {
    padding: @fluid-quarter @space-small @space-small;

    div {
      width: @full;
    }
  }
}
