@import '../../variables';

// modules styles

.module {
  position: relative;
	margin: 0;
	padding: @space-small;

  &.menu {
    padding: 0;
  }

  &.figure {
    padding: 0;

    .figure.caption {
      text-align: left;

      .data {
        display: block;
        margin: @space-tiny @space-small;
        color: @gray;

        @media (min-width: @tablet-width) {
          display: inline-block;
          margin: 0;
          color: inherit;
        }
      }
    }
  }

  &.article {
    margin-bottom: @space-large;
    padding: 0;

    @media (min-width: @tablet-width) {
      margin-bottom: @space-jumbo;
    }

    .article.title {
      margin: 0;
    }
  }

  &.quotes {
		padding: @space-jumbo @space-small @space-small;

		.quote {
      margin: 0;
      font-family: @font-family-serif;
			font-size: @mobile-font-large;

      .author {
        margin: @space-small 0;
  			text-align: right;
  		}
    }
	}

  &.mailchimp {
		left: 0;
		bottom: @space-larger;
		width: @full;
    top: @space-smaller;

    div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: @full;
      padding: @space-jumbo 0 @space-large 0;

      &::before,
      &::after {
        box-sizing: border-box;
      }

      .message {
        position: absolute;
        bottom: @space-massive;
        font-size: @mobile-font-base;
        font-style: italic;
      }

      .email {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: @full;
        padding: @space-small;
        border: @space-mini solid @dark;
        border-right: 0;
        outline: 0;
        font-size: @mobile-font-base;
        font-family: @font-family-monospace;
      }

      .subscribe {
        margin: 0;
        padding: @space-small;
        cursor: pointer;
        border: @space-mini solid @dark;
        background-color: @primary-color;
        color: @gray;
        font-size: @mobile-font-base;
        font-family: @font-family-monospace;

        &:hover,
        &:focus {
          background-color: @gray;
          color: @light;
        }
      }
    }
  }
}
