@import '../../variables';

// modules styles

.module {
  position: relative;
	margin: 0;
	padding: @space-small;

  &.menu {
    padding: 0;
  }

  &.figure {
    padding: @mobile-font-small 0;

    .figure.caption {
      text-align: left;

      @media (min-width: @tablet-width) {
        margin: 0;
        color: inherit;
      }
    }
  }

  &.members {

    .member {

      .card {
        margin: 0;
        padding: 0;

        .image {
          position: relative;
          display: block;
          width: @full;
          cursor: pointer;
          -moz-transition: filter @slowest, -moz-transform @slowest;
          -webkit-transition: filter @slowest, -webkit-transform @slowest;
          transition: filter @slowest, transform @slowest;
          -moz-transform: scale3d(1,1,1);
          -webkit-transform: scale3d(1,1,1);
          transform: scale3d(1,1,1);

          @media (min-width: @tablet-width) {
            width: @half;
          }

          @media (min-width: @desktop-width) {
            -moz-filter: grayscale(@three-quarters);
            -webkit-filter: grayscale(@three-quarters);
            filter: grayscale(@three-quarters);
          }
        }

        .caption {

          .name {
            margin: 0;
            text-align: center;

            .title {
              display: block;
              color: @gray;
              font-family: @font-family-monospace;
            }
          }

          .social {
            display: none;
            width: @full;
            margin: @space-smaller auto @space-base;
            text-align: center;

            @media (min-width: @tablet-width) {
              display: block;
              width: @half;
            }

            .list {

              .item {
                padding: 0 @space-smallest;

                .icon {
                  text-decoration: none;

                  .fa {
                    display: inherit;
                  }
                }
              }
            }
          }
        }

        &:hover,
        &:focus {

          .image {
            -moz-filter: grayscale(0);
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            -moz-transform: scale3d(1.1,1.1,1.1);
            -webkit-transform: scale3d(1.1,1.1,1.1);
            transform: scale3d(1.1,1.1,1.1);
          }
        }
      }
    }
  }

  &.article {
    padding: 0;

    article {
      margin-bottom: @space-medium;

          .title {
            margin-bottom: @space-tiny;
          }
    }

    .tool {
      @media (min-width: @tablet-width) {
        margin-bottom: @space-jumbo;
      }
    }
  }

  &.mailchimp {
		width: @full;
    margin: 0 auto @space-small;
    padding: @space-huge @space-small 0 @space-small;
    background-color: @gray-lighter;

    @media (min-width: @tablet-width) {
      width: @half;
    }

    div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: @full;
      padding: @space-small 0;

      &::before,
      &::after {
        box-sizing: border-box;
      }

      .message {
        position: absolute;
        bottom: @space-massive;
        font-size: @mobile-font-base;
      }

      .email {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: @full;
        padding: @space-small;
        border: @space-mini solid @dark;
        border-right: 0;
        border-radius: 0;
        outline: 0;
        font-size: @mobile-font-base;
        font-family: @font-family-monospace;
      }

      .subscribe {
        margin: 0;
        padding: @space-small;
        cursor: pointer;
        border: @space-mini solid @dark;
        background-color: @primary-color;
        color: @gray;
        font-size: @mobile-font-base;
        font-family: @font-family-monospace;

        &:hover,
        &:focus {
          background-color: @gray;
          color: @light;
        }
      }
    }
  }

  &.quotes {
    display: inline-block;
    width: @full;
    margin-bottom: @space-jumbo;
    padding: @space-normal;
    font-style: italic;

    @media (min-width: @tablet-width) {
      text-align: center;
    }

		.quote {
      margin: 0;
			font-size: @mobile-font-base;

      @media (min-width: @tablet-width) {
			  font-size: @mobile-font-giant;
      }

      .author {
        margin: @space-smaller @space-smaller 0 @space-smaller;
        text-align: center;
  		}
    }
	}

  &.contact {
    display: block;
    position: absolute;
    bottom: 0;
    width: @full;
    padding: @space-normal @space-small;
    text-align: center;

		.list {

      .item {
        margin: 0 @space-tiny;

        .info {
          font-size: @mobile-font-small;

          @media (min-width: @tablet-width) {
            font-size: @tablet-font-small;
          }

          @media (min-width: @desktop-width) {
            font-size: @desktop-font-small;
          }

          &:hover,
          &:focus {
            color: @primary-color;
          }
  			}
      }
		}
	}
}
