<template name="about">
  <div class="about view">
    <section class="summary segment">
  	  <h2>uTool DNA</h2>
      <p>We'd be lying if we said we come from different stuff. Afterall, we're all composed of oxgyen, carbon, hydrogen and so on. However, we do differ in our values, process and experience.</p>
    </section>
    <section class="values segment">
      <h3>Values</h3>
      <h4>Authenticity</h4>
      <p>To build positive relationships.</p>
      <h4>Adaptability</h4>
      <p>To grow.</p>
      <h4>Simplicity</h4>
      <p>To distill to only the meaningful</p>
      <h4>Self-awareness</h4>
      <p>To build on our strengths.</p>
      <h4>Innovation</h4>
      <p>To empower a better world.</p>
    </section>

	</div>
</template>
