<template name="about">
  <div class="about view">
	  <h2>uTool DNA</h2>
    <p>We'd be lying if we said we come from different stuff. Afterall, we're all composed of oxgyen, carbon, hydrogen and so on. However, we do differ in our values, process and experience.</p>
	</div>
  <h3>Values</h3>
</template>

<template name="rootIntro">
  <p class="supporting {{class}} statement">
    <strong class="strong">{{supporting.strong}}</strong>
    <em class="emphasis">{{supporting.emphasis}}</em>
    creates
    <span class="highlight">{{supporting.highlight}}</span>
    {{supporting.paragraph}}
  </p>
</template>
