<template name="root">
  <div class="root view">
    <h1 class="mission statement">We Help Businesses Grow</h1>

    <section class="rtb benefits segment">
      <h3 class="leading statement">Attract more customers with more:</h3>
      <ul class="unstyled list">
        <li class="list item">Growth Opportunities</li>
        <li class="list item">Trial Signups</li>
        <li class="list item">Leads</li>
        <li class="list item">Sales and Purchases</li>
        <li class="list item">Click-throughs</li>
      </ul>
    </section>

    <section class="rtb clients segment">
      <h3 class="leading statement">Current Track Record</h3>
      <ul>
        <p>May 2015</p>
        <li>Increased Signups by 30% for Ecommerce Company</li>
        <p>April 2015</p>
        <li>Increased Sales by 35% for Ecommerce Company</li>
      </ul>
    </section>

    <section class="cta segment">
      <button class="primary cta button">Call to Action</button>
    </section>

    <section class="leadership">
      <div class="member">
        <img class="image" src="http://placehold.it/150x150" />
        <p>Name</p>
        <p>Title</p>
      </div>
      <div class="member">
        <img class="image" src="http://placehold.it/150x150" />
        <p>Name</p>
        <p>Title</p>
      </div>
    </section>

    <section class="rtb tools segment">
      <h3 class="leading statement">Tools leading statement</h3>
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
      <a class="route link" href="{{pathFor 'tools'}}">View All</a>
    </section>

    <section class="cta segment">
      <button class="primary cta button">Call to Action</button>
    </section>
  </div>
</template>
