<template name="root">
  <div class="root view">
    <h2 class="mission statement">We Help Business <span class="red underline">Grow</span></h2>
    <p>&#956;Tool (/mu:tool/) creates <span class="highlighter">data-driven</span> digital products and services that
      give brands a competitive edge.</p>
    <section class="rtb benefits segment">
      <h3 class="leading statement">Attract customers with more:</h3>
      <ul class="list">
        <li class="list item">Growth Opportunities</li>
        <li class="list item">Trial Signups</li>
        <li class="list item">Leads</li>
        <li class="list item">Sales and Purchases</li>
        <li class="list item">Click-throughs</li>
      </ul>
    </section>

    <section class="rtb clients segment">
      <h3 class="leading statement">Current Track Record</h3>
      <figure class="figure module">
        <figcaption class="figure caption">May 2015</figcaption>
        <ul class="list">
          <li>Increased <span class="highlighter">Signups</span> by <span class="highlighter">30%</span> for Ecommerce Company</li>
        </ul>
      </figure>
      <figure class="figure module">
        <figcaption class="figure caption">April 2015</figcaption>
        <ul class="list">
          <li>Increased <span class="highlighter">Sales</span> by <span class="highlighter">35%</span> for Ecommerce Company</li>
        </ul>
      </figure>
    </section>

    <section class="cta segment">
      <button class="fluid button">
        Call to Action
      </button>
    </section>

    <section class="rtb leadership segment">
      <div class="members top gutter grid">
        <div class="member card cell">
          <img class="fluid image" src="/images/husam.jpg" />
          <h4>Name</h4>
          <p>Title</p>
        </div>
        <div class="member card cell">
          <img class="fluid image" src="/images/damir.jpg" />
          <h4>Name</h4>
          <p>Title</p>
        </div>
      </div>
    </section>

    <section class="rtb clients segment">
      <h3 class="leading statement">We've worked with:</h3>
      <div class="clients third grid">
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
        <div class="client cell">
          <img class="fluid image" src="http://placehold.it/150x150" />
        </div>
      </div>
    </section>

    <section class="cta segment">
      <a href="">Call to Action</a>
    </section>

    <section class="rtb tools segment">
      <h3 class="leading statement">Tools leading statement</h3>
      <article class="tool article module">
        <h4 class="article title">
          <a href="#">Title</a>
        </h4>
        <p>Description</p>
      </article>
      <div class="tool article module">
        <h4 class="article title">
          <a href="#">Title</a>
        </h4>
        <p>Description</p>
      </div>
      <a class="route link" href="{{pathFor 'tools'}}">View All</a>
    </section>
  </div>
</template>
