<template name="root">

  <div class="root">

    <div class="mission">
      <h1 class="mission statement">Mission statement here</h1>
    </div><!--mission-->

    <div class="rtb benefits">
      <h3 class="leading statement">Benefits leading statement</h3>
      <ul class="unstyled list">
        <li class="list item">Benefit 1</li>
        <li class="list item">Benefit 2</li>
        <li class="list item">Beneift 3</li>
      </ul>
    </div><!--benefits-->

    <section class="rtb clients">
      <h3 class="leading statement">Clients leading statement</h3>
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
    </section><!--clients-->

    <div class="rtb services">
      <h3 class="leading statement">Services leading statement</h3>
        <ul class="unstyled list">
          <li class="list item">Service 1</li>
          <li class="list item">Service 2</li>
          <li class="list item">Service 3</li>
        </ul>
        <a class="route link" href="{{pathFor 'services'}}">View All</a>
    </div><!--services-->

    <div class="rtb tools">
      <h3 class="leading statement">Tools leading statement</h3>
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
      <img class="image" src="http://placehold.it/150x150" />
    </div><!--tools-->

    <div class="cta">
      <button class="primary cta button">Call to Action</button>
    </div><!--CTA-->

  </div>

</template>
