@import '../../../variables';

// footer styles

.footer.module {
	position: fixed;
	top: 0;
	left: 0;
	width: @full;
	height: @fluid-full;
	padding: 0;
	background: @gray-dark;
	color: @light;

	.endmatter {
		margin-top: @fluid-quarter;

		.contact {
			width: @full;
			margin: 0 @space-small;
			padding: @space-small 0;
			border-bottom: @space-mini solid @primary-color;

			a {
				color: @light;
			}
		}
	}

	.copyright {
		position: absolute;
		left: 0;
		bottom: 0;
		width: @full;
		margin: 0;
		padding: @space-tiny;
		color: @light;
		font-size: @mobile-font-small;
		text-align: center;

		.creator {
			color: @light;
			font-family: @font-family-base;
			font-size: @mobile-font-small;

			&:hover,
			&:focus {
				color: @primary-color;
			}
		}
	}
}
