@import '../../../variables';

// footer styles

.footer.module {
	position: fixed;
	top: 0;
	left: 0;
	width: @full;
	height: @fluid-full;
	background: @secondary-color;
	color: @light;

	.copyright {
		margin: 0;
		color: fade(@gray-darker, @three-quarters);
		font-size: @font-size-small;

		.creator {
			color: @primary-color;
			font-size: @font-size-small;
			text-decoration: none;

			&:hover,
			&:focus {
				color: fade(@gray-darker, @three-quarters);
			}
		}
	}
}
