@import '../../../variables';

// header styles

.header.module {
  z-index: 1;
  background: @background-color;
  background-image: @grid-paper;
  background-size: @space-largest @space-largest;

  .logo {
    width: @full;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
    color: red;
    border: 1px solid red;
    font-family: @font-family-monospace;
    padding: 0 @mobile-font-tiny @mobile-font-micro @mobile-font-tiny;
    font-size: @mobile-font-large;

    &:hover,
    &:focus {
      background: red;
      color: @light;
      border: 1px solid red;
      text-decoration: none;
    }

    .image {
      display: inline-block;
      width: @space-large;
      margin: 0;
    }
  }
}
