@import '../../../variables';

// header styles

.header.module {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 3;
  background: transparent;
  transition: top @fastest ease-in-out;

  &.up {
    top: -@space-jumbo;
  }

  .logo {
    display: block;
    position: relative;
    width: @space-large;
    height: @space-large;
    margin-top: @space-small;
    font-family: @font-family-base;
    perspective: 1000px;
    perspective-origin: @half @full;
    padding: @space-small;

    .cube {
      width: @full;
      height: @full;
      top: 0;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform @slowest;

      .face {
        display: block;
        position: absolute;
        margin: 0 auto;
        padding: @space-mini + @space-atomic @space-small @space-tiny;
        border: @space-micro solid @gray-darker;
        font-size: @font-size-base;
        text-align: center;
        line-height: @line-height-base;

        &.front {
          background: fade(@primary-color, @three-quarters);
          color: @gray-darker;
          transform: translateZ(@space-base + @space-micro);
        }

        &.left {
          background: @gray-darker;
          color: @primary-color;
          transform: rotateY(-90deg) translateZ(@space-base + @space-micro);
        }
      }

      &:hover {
        left: @space-base;
        transform: rotateX(0) rotateY(90deg);
      }
    }
  }

  .toggle.menu.button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: @space-small;
    padding: @space-tiny @space-small;
    border: @space-micro solid @gray-darker;
    background: fade(@primary-color, @three-quarters);
    color: @gray-darker;
    z-index: 4;

    @media (min-width: @tablet-width) {
      display: none;
    }

    &:hover {
      color: @primary-color;
      background-color: @gray-darker;
    }
  }

  .toolbar {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: @space-mini;
    padding: @space-micro @space-mini;
    border-radius: @space-tiny;
    background-color: @negative-color;
    color: @light;
    font-size: @font-size-small;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: -@space-mini;
      top: 0;
      border: @space-tiny solid;
      border-color: @negative-color @negative-color transparent transparent;
      z-index: -1;
    }

    .route.link {
      color: @light;
      font-family: @font-family-base;
      font-size: @font-size-small;
      font-style: normal;
    }
  }

  &.navigator {

    .toggle.menu.button {
      border: 0;
      border-right: @space-micro solid @gray-darker;
      border-bottom: @space-micro solid @gray-darker;

      &:hover {
        background-color: @primary-color;
        color: @gray-darker;
      }
    }
  }
}
