@import '../../../variables';

// menu styles

.menu.module {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: @full;
	overflow-y: scroll;
  overflow-x: hidden;
	padding: @space-base;
	z-index: 1;
	background: @gray-darker;
	color: @primary-color;

	.navigation {

		.route {
			height: @fluid-half;

			.image {
				height: @fluid-half;
			}
		}
	}
}
