@import '../../../variables';

// menu styles

.menu.module {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  margin: @space-small;
  padding: @space-base;
  border: @space-micro solid @gray-darker;
  background: @gray-darker;
  color: @gray-darker;
  z-index: 2;
  opacity: 0;
  transform-origin: 0% @full;
  transition: width @fast, height @faster;

  .navigation {
    position: relative;
    float: right;
    margin-bottom: @space-base;
    opacity: 0;

    .route {
      display: block;
      color: @gray-darker;
      text-align: right;
    }
  }
}

.navigator {

  .menu.module {
    height: @space-god + @space-god;
    width: @space-god;
    opacity: 1;
    background: @primary-color;

    .navigation {
      opacity: 1;
      transition: opacity @fast @fast;
      a {
        font-size: @font-size-base + @font-size-mini;
        text-decoration: none;
        font-style: inherit;
        line-height: @space-medium;
      }
    }
  }
}
