@import '../../../variables';

// mobile menu styles
.mobile-menu {
  @media (min-width: @desktop-width) {
    display: none;
  }


  #mobile-menu {

    float: right;
    bottom: 0;
    right: 0;
    z-index: 2;
    position: fixed;

    .mobile-nav-trigger {
      background-color: @primary-color;
      border: @space-micro solid @dark;
      text-decoration: none;
      padding: @space-tiny;
    }

      #mobile-nav {
        width: 90%;
        background-color: @primary-color;
        border: @space-micro solid @dark;
        display: none;

          ul {
            list-style-type: none;
            text-align: center;
            -webkit-padding-start: 0;
            padding: 0 @space-massive;

              li {
                font-size: @font-size-base + @font-size-tiny;
                padding: @space-mini 0;
              }
          }
      }
  }

}
