<template name="layout">
    <header class="header module {{menuToggle}}">
        {{> header}}
    </header>
    <main class="layout {{menuToggle}}">
        <aside class="menu module">
            {{> menu}}
        </aside>
        <div class="content">
            <section class="view frame {{setClass}}">
                {{> yield}}
            </section>
            <footer class="footer module {{setClass}}">
                {{> footer}}
            </footer>
        </div>
    </main>
</template>
