<template name="projects">
    <div class="projects article module">
        {{#each limitedProjects}}
            <a href="{{pathFor 'study'}}">
                <article class="project">
                    <h4 class="title">
                        {{title}}
                    </h4>

                    <p class="excerpt">{{excerpt}}</p>
                    <a class="route link" href="{{pathFor 'study'}}">Read the case study</a>
                </article>
            </a>
        {{/each}}
    </div>
</template>
