<template name="rootMembers">
	<div class="members top gutter grid">
	  {{#each members}}
		  <div class="member cell">
				<figure class="card module">
			    <img class="fluid image" src="{{image}}" />
					<ul class="social inline list">
						<li class="item">
							<i class="">icon</i>
						</li>
						<li class="item">
							<i class="">icon</i>
						</li>
						<li class="item">
							<i class="">icon</i>
						</li>
					</ul>
			    <h4 class="name">
					  {{name}}
					  <small class="title">
						  {{title}}
					  </small>
				  </h4>
				</figure>
		  </div>
		{{/each}}
	</div>
</template>
