@import '../../variables';

// layout styles

html {
  width: @full;
  height: @full;

  body {
    width: @full;
    height: @full;
    margin: 0;
    padding: 0;
    background-color: @background-color;
    overflow-y: scroll;
    overflow-x: hidden;

    .layout {
      position: relative;
      min-height: @full;
      overflow: hidden;
      -webkit-perspective: 800px;
      -webkit-perspective-origin: 0 50%;

      .menu {
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: @gray-darker;
        color: @primary-color;
        -webkit-transform-origin: 100% 50% 0px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: translateX(-100%) translateX(0) scale(1) rotateY(-45deg);
      }

      .pusher {
        -webkit-overflow-scrolling: touch;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-origin: 0px 50% 0px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      &.navigator {

        .menu {
          transform: translateX(0) translateX(0) scale(1) rotateY(0);
        }

        .pusher {
          transform: translateX(100%) rotateY(45deg);
        }
      }
    }
	}
}
