@import '../../variables';

// layout styles

html {
  width: @full;
  height: @full;

  body {
    width: @full;
    height: @full;
    margin: 0;
    padding: 0;
    background-color: @negative-color;
    overflow-y: scroll;
    overflow-x: hidden;

    .layout {
      position: relative;
      min-height: @full;
      overflow: hidden;
      perspective: 1000px;
      perspective-origin: 0 @half;

      .menu {
        transform-origin: @full @half 0;
        transition: all @slowest ease;
        transition: all @slowest ease;
        transform: translateX(-@full)
                           translateX(0)
                           scale(1)
                           rotateY(-45deg);
      }

      .pusher {
        overflow-scrolling: touch;
        transform-style: preserve-3d;
        transform-origin: 0 @half 0;
        transition: all @slowest ease;
      }

      &.navigator {

        .menu {
          transform: translateX(0)
                     translateX(0)
                     scale(1)
                     rotateY(0);
        }

        .pusher {
          transform: translateX(@full)
                     rotateY(45deg);
        }
      }
    }
	}
}
