@import '../../../variables';

// services module styles

.services {
  .cell {
    padding-top: @space-base;

    h4 {
      color: @dark;
      font-size: @font-size-base + @font-size-mini;
    }
  }
}
