@import '../variables';

// admin styles

.orion.admin {
  position: relative;
  width: @full;
  height: @full;
  background: @light;

  .orion.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: @three-quarters;
    height: @fluid-full;
    margin: 0;
    padding: 0;
    z-index: 1;
    visibility: hidden;
    background: @gray-darker;
    transition: all @slowest;

    .orion.navigation {
      position: relative;
      top: 0;
      bottom: 0;
      height: @full;
      width: @full;
      margin: 0;
      padding: @space-base;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;

      .orion.item {
        margin: 0;
        padding: 0;

        .route.link {
          display: block;
          margin: 0;
          padding: @space-tiny 0;
          color: @light;
          font-family: @font-family-base;
          font-size: @font-size-base + @font-size-mini;
          text-decoration: none;

          &:hover,
          &:focus {
            color: @primary-color;
          }
        }

        &.brand {
          margin: -@space-base -@space-base @space-tiny;
          background: @negative-color;
          text-align: center;
        }

        &.active {

          .route.link {
            color: @primary-color;
          }
        }
      }
    }
  }

  .orion.main {
    position: relative;
    left: 0;
    z-index: 1;
    height: @full;
    width: @full;
    margin: 0;
    padding: @space-base;
    background: @light;
    perspective: 1000px;
    transition: transform @slowest;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      background: fade(@gray-darker, @half);
      content: '';
      opacity: 0;
      transition: opacity @slowest, width @fastest @slowest, height @fastest @slowest;
    }

    .orion.menu {
      position: fixed;
      top: 0;
      left: 0;
      width: @full;
      padding: @space-tiny @space-base;
      z-index: 2;

      .orion.toggle {
        cursor: pointer;
        line-height: 0;
      }

      .orion.dropdown {
        position: relative;
        width: @space-god;
        float: right;
        text-align: right;

        .dropdown.toggle {
          z-index: 1;
        }

        .orion.dropdown.menu {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          margin: @space-large 0;
          padding: @space-small;
          border: @space-micro solid @gray-darker;
          background-color: @primary-color;
          list-style-type: none;
          visibility: hidden;
          transform: translate3d(0, -(@full + @half), 0);
          transition: all @faster;

          .item {
            margin-bottom: @space-small;
            color: @gray-darker;

            &:last-child {
              margin: 0;
            }
          }

          &.open {
            visibility: visible;
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }

  &.toggled {

    .orion.sidebar {
      visibility: visible;
      transition: transform @slowest;
    }

    .orion.main {
      transform: translate3d(@three-quarters, 0, 0);

      &::after {
        width: @full;
        height: @full;
        opacity: 1;
        transition: opacity @slowest;
      }
    }
  }
}
