@import '../variables';

// admin elements styles

.orion {
  display: block;

  // buttons

  .orion.button {
    padding: @space-tiny @space-base;
  }

  &.actions {
    width: @full;

    .orion.button {
      display: block;
    }
  }

  &.tabs {
    margin-bottom: @space-medium;

    .orion.button {
      display: inline-block;
      margin-bottom: @space-mini;
    }
  }
}
