@import '../variables';

// admin elements styles

.orion {

  // buttons

  .orion.button {
    padding: @space-tiny @space-base;

    &.small.icon {
      float: right;
      margin-bottom: 0;
      padding: @space-micro @space-mini 0;
    }
  }

  &.actions {
    width: @full;

    .orion.button {
      display: block;
    }
  }

  &.tabs {
    display: block;
    margin-bottom: @space-medium;

    .orion.button {
      display: inline-block;
      margin-bottom: @space-mini;
    }
  }

  .form-group {
    margin-bottom: @space-base;

    .control-label {
      display: block;
      margin-bottom: @space-tiny;
    }

    .form-control {
      flex: 1;
      width: @full;
      padding: @space-tiny;
      outline: 0;
      font-size: @font-size-base;
    }
  }
}
