@import 'variables';

// elements styles

// buttons

.button {
	padding: @space-small @space-large;
  border: 0;
	background: @gray-lighter;
	color: @font-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background: darken(@gray-lighter, @eighth);
  }

  &.primary {
    background: @primary-color;
    color: @light;

    &:hover,
    &:focus {
      background: darken(@primary-color, @eighth);
    }
  }

  &.secondary {
    background: @secondary-color;
    color: @light;

    &:hover,
    &:focus {
      background: darken(@secondary-color, @eighth);
    }
  }

  &.cta {
    background: @cta-color;
    color: @light;

    &:hover,
    &:focus {
      background: @secondary-color;
    }
  }

  &.fluid {
    display: block;
    width: @full;
    margin-right: auto;
    margin-left: auto;
  }

  &.rounded {
    border-radius: @space-tiny;
  }
}

// lists

.list {

  &.unstyled {
    padding: 0;
	  list-style-type: none;
  }

  @media (min-width: @desktop-width) {
    text-indent: @space-large;
  }
}

// images

.image {
  display: block;
  margin: @space-base auto;

  &.fluid {
    width: @full;
  }
}
