@import 'variables';

// elements styles

// buttons

.button {
	padding: @space-small @space-large;
	background-color: @gray;
	color: @light;
	text-align: center;
	text-decoration: none;
  cursor: pointer;
	-moz-transition: all @faster;
	-webkit-transition: all @faster;
	transition: all @faster;

	@media (min-width: @tablet-width) {
	}

  &:hover,
  &:focus {
    background-color: @primary-color;
		color: @gray;
  }

  &.primary {
    background-color: @primary-color;
    color: @gray;

    &:hover,
    &:focus {
      background-color: @gray;
			color: @light;
    }
  }

  &.secondary {
    background-color: @secondary-color;
    color: @light;

    &:hover,
    &:focus {
      background-color: @primary-color;
			color: @gray;
    }
  }

	&.cta {
		font-size: @mobile-font-base;
		font-weight: bold;
		text-align: center;
		padding: 1.5rem 0;

		@media (min-width: @tablet-width) {
			font-size: @tablet-font-jumbo;
		}

		.supporting {
			display: block;
			margin-top: @space-tiny;
			font-weight: normal;
			font-size: @mobile-font-base;
			text-decoration: underline;
			padding-top: @space-tiny;

			@media (min-width: @tablet-width) {
				font-size: @tablet-font-large;
			}
		}

		&:hover,
		&:focus {

			.supporting {
				color: @primary-color;
			}
		}
	}

  &.fluid {
    display: block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }

  &.rounded {
    border-radius: @space-tiny;
  }

	@media (min-width: @tablet-width) {
		padding: @space-normal @space-larger;
	}
}

// lists

.list {
	list-style-type: square;

  &.unstyled {
    padding: 0;
	  list-style-type: none;
  }

	&.inline {
		display: inline;
		padding: 0;
		list-style-type: none;

		.item {
			display: inline;
		}
	}

  @media (min-width: @desktop-width) {
    text-indent: @space-large;
  }
}

// images

.image {
  display: block;
  margin: @space-base auto;

  &.fluid {
    width: @full;
  }

	&.background {
		position: absolute;
		margin: 0;

		&.top {
			top: 0;
		}

		&.right {
			right: 0;
		}

		&.bottom {
			bottom: 0;
		}

		&.left {
			left: 0;
		}
	}
}
