@import 'variables';

// grid styles - based on https://github.com/philipwalton/solved-by-flexbox

.grid {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

	.cell {
		-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
	  flex: 1;
	}

	&.flex {

		.cell {
			display: -webkit-box;
		  display: -webkit-flex;
		  display: -ms-flexbox;
			display: flex;
		}
	}

	&.top {
		align-items: flex-start;
	}

	&.bottom {
		align-items: flex-end;
	}

	&.center {
		align-items: center;
	}

	&.justify {
		justify-content: center;
	}
}
