@import 'variables';

// helper styles

.list {

  &.unstyled {
    padding: 0;
	  list-style-type: none;
  }

  @media (min-width: @desktop-width) {
    text-indent: @space-large;
  }
}

.image {
  display: block;
  margin: @space-base auto;

  &.fluid {
    width: @full;
  }
}

span.highlight {
  border-bottom: 1px solid red;
}
