@import 'variables';

// helper styles

.underline {
  display: inline-block;
  border-bottom: @space-mini solid;

  &.red {
    border-color: @negative-color;
  }

  &.yellow {
    border-color: @caution-color;
  }

  &.blue {
    border-color: @info-color;
  }

  &.green {
    border-color: @positive-color;
  }
}

.highlight {
  background-color: @highlight;
}

.emphasis {
  color: @gray;
}

.hidden {
  display: none;

  &.mobile {

    @media(min-width: @tablet-width) {
      display: inline-block;
    }
  }
}
