<template name="root">
  <div class="root view">

    <section class="intro segment">
      <h1 class="mission statement">
        We boost business.
      </h1>
      <p class="supporting mission statement">
        <strong class="strong">&micro;Tool</strong>
        <em class="emphasis">(/mu:tool/)</em>
        creates
        <span class="highlight">data-driven</span>
        digital products and services that give brands a competitive edge.
      </p>
    </section>

    <section class="benefits segment">
      <h3 class="leading statement">
        Attract customers with more:
      </h3>
      {{> benefits}}
    </section>

    <section class="figures segment">
      <h3 class="leading statement">Recent track record:</h3>
    </section>
    <!--
    {{#each segments}}
      <section class="{{class}} segment">
        <h3 class="leading {{class}} statement">
          {{statement}}
        </h3>
        {{> UI.dynamic template=template}}
      </section>
    {{/each}}
    -->
  </div>
</template>
