<template name="blog">
    <div class="blog view">
        <section class="header segment">
            <h1 class="page-title">{{ dict 'blog.title' 'Blog' }}</h1>

            <div class="summary segment">
                <p class="mission statement">
                    {{ dict 'blog.mission' 'We like talking to you. You\'re pretty swell.' }}
                </p>

                <p class="supporting statement">
                    {{ dict 'blog.supporting' 'Here are some of our' }}
                    <span class="highlight">
                        {{ dict 'blog.highlight' 'thoughts on product design and development.' }}
                    </span>
                </p>
            </div>
        </section>
        <section class="posts segment">
            <h3 class="leading statement">
                {{ dict 'blog.postsStatement' 'Posts:' }}
                {{> posts}}
            </h3>
        </section>
    </div>
</template>
