@import '../../../variables';

// values module styles

.module.values {
  padding: @space-small @space-huge + @space-micro;
  list-style-type: upper-latin;

  .item {
    font-size: @font-size-large + @font-size-mini;
    font-weight: bold;
    color: @gray;

    .value {
      width: @full;
      margin: 0;
      padding-bottom: @space-tiny;
    }

    .definition {
      color: @font-color;
      font-size: @font-size-base;
    }
  }
}
