<template name="footer">
  <div class="mailchimp module">
    {{> MailChimpListSubscribe}}
  </div>
  <div class="endmatter">
    <hr>
    <section class="contact">
      <p>Contact</p>
      <ul class="list">
        <a href=""><li>newbiz@utool.com</li></a>
        <a href=""><li>careers@utool.com</li></a>
        <a href=""><li>press@utool.com</li></a>
      </ul>
    </section>
    <p class="copyright">
      &copy;2015,
      <a class="creator" href="{{pathFor 'root'}}">
        &micro;Tool
      </a>
    </p>
  </div>
</template>
