<template name="footer">
  <div class="mailchimp module">
    {{> MailChimpListSubscribe}}
  </div>
  <div class="endmatter">
    <hr>
    <section class="contact">
      <p>Contact</p>
      <ul class="list">
        <li class="list item">
          <a href="">newbiz@utool.com</a>
        </li>
        <li class="list item">
          <a href="">careers@utool.com</a>
        </li>
        <li class="list item">
          <a href="">press@utool.com</a>
        </li>
      </ul>
    </section>
    <p class="copyright">
      &copy;2015,
      <a class="creator" href="{{pathFor 'root'}}">
        &micro;Tool
      </a>
    </p>
  </div>
</template>
