<template name="menu">
  <nav class="navigation half gutter grid">
	  <a class="cell route" href="{{pathFor 'about'}}">
      <img class="fluid image" scr="http://placehold.it/200x400" />
    </a>
    <a class="cell route" href="{{pathFor 'work'}}">
      <img class="fluid image" scr="http://placehold.it/200x400" />
    </a>
    <a class="cell route" href="{{pathFor 'tools'}}">
      <img class="fluid image" scr="http://placehold.it/200x400" />
    </a>
    <a class="cell route" href="{{pathFor 'blog'}}">
      <img class="fluid image" scr="http://placehold.it/200x400" />
    </a>
	</nav>
</template>
