<template name="mobileMenu">
    <div id="mobile-menu">
        <a href="#0" class="mobile-nav-trigger"><i class="fa fa-bars"></i><span></span></a>
        <nav id="mobile-nav" class="{{showMobileNav}}">
            <ul>
                <li><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li><a href="#0">Work</a></li>
                <li><a href="#0">Tools</a></li>
                <li><a href="#0">Blog</a></li>
            </ul>
        </nav>
    </div>
</template>
