<template name="process">
  <div class="process view">
    <section class="header segment">
  	  <h2 class="page-title">Our Process</h2>
      <div class="summary segment">
        <p class="mission statement">
          We leverage the scientific method to arrive at our technical solutions.
        </p>
        <p class="supporting statement">We believe that
          <span class="highlight">
            iterative rounds of testing in design and development yields effective software.
          </span>
        </p>
      </div>
    </section>
    <section class="processes segment">
      <h3 class="leading statement">
        The Method:
      </h3>
      {{> processes}}
    </section>
  </div>
</template>
