<template name="about">
  <div class="about view">
    <section class="header segment">
  	  <h2 class="page-title">About µTool</h2>
      <div class="summary segment">
        <p class="mission statement">
          We'd be lying if we said we're made from different stuff. Afterall, we're all composed of oxgyen, carbon and hydrogen.
        </p>
        <p class="supporting statement">However, we are unique in our
          <span class="blue highlight">
            values, experience and process.
          </span>
        </p>
      </div>
    </section>
    <section class="services segment">
      Services:
      {{> services}}
    </section>
    <section class="values segment">
      <h3 class="leading statement">
        Values:
      </h3>
      {{> values}}
    </section>
    <section class="members segment">
      <h3 class="leading statement">
        Leadership:
      </h3>
      {{> members}}
    </section>
    <section class="members segment">
      <h3 class="leading statement">
        Process:
      </h3>
      {{> processes}}
    </section>
	</div>
</template>
