<template name="about">
  <div class="about view">
    <section class="fluid header segment">
  	  <h2 class="title">µTool DNA</h2>
    </section>
    <section class="summary segment">
      <p class="mission statement">We'd be lying if we said we're made from different stuff -- We're all composed of oxgyen, carbon, hydrogen.</p>
      <p>However, <span class="highlight-blue">we're unique` in our values, process and experience.</span></p>
    </section>
    <section class="values segment">
      <h3 class="leading statement">
        Our Values:
      </h3>
      {{> values}}
    </section>
    <section class="members segment">
      <h3 class="leading statement">
        The Team:
      </h3>
      <div class="leader">
        <img src="http://placehold.it/280x200" />
        <h4>Husam Machlovi
        <small>Partner, Design</small>
        </h4>
        <p>Husam guides clients in their efforts to plan and build software products and services.</p>
        <p>Prior to uTool, Husam was a Product Strategy & Design consultant for top Fortune 500 companies including Pfizer, Johnson & Johnson, Amgen and Thermo Fisher Scientifc.</p>
        <p>Husam's work has helped these brands stand out from their competitors and provide meaningful experiences to their customers.</p>
      </div>
      {{> members}}
    </section>
	</div>
</template>
