@import '../../../variables';

// segments styles

.segment {
	padding: @space-normal 0;

	@media (min-width: @tablet-width) {
		padding: @space-large 0;
	}

	@media (min-width: @desktop-width) {
		padding: @space-larger 0;
	}

	&.intro {
		padding: @space-giant 0;

		@media (min-width: @tablet-width) {
			padding: @space-titanic 0;
		}

		@media (min-width: @desktop-width) {
			padding: @space-god 0;
		}
	}

	&.cta {
		margin: 0 -@sixteenth;

		@media (min-width: @tablet-width) {
			margin: 0 -13%;
		}
	}
}
