@import '../../../variables';

// segments styles

.segment {
  padding: @space-large 0;

  @media (min-width: @tablet-width) {
    padding: @space-large 0;
  }

  @media (min-width: @desktop-width) {
    padding: @space-huge 0;
  }

  &.basic {
    margin: 0;
    padding: 0;
  }

  &.summary {
    padding: @space-large 0 0 0;
  }

  &.fluid {
    margin: 0 -@sixteenth + -2%;

    @media (min-width: @tablet-width) {
      margin : 0 -@eighth;
    }

    @media (min-width: @desktop-width) {
      margin: 0 -@quarter - -4%;
    }

    @media (min-width: @huge-desktop-width) {
      margin: 0 -@third;
    }

    &.header {
      padding: @space-large @space-base + @space-mini;
    }
  }

  &.intro {
    padding: @space-galactic 0;

    @media (min-width: @tablet-width) {
      padding: @space-galactic + @space-jumbo 0;
    }

    @media (min-width: @desktop-width) {
      padding: @space-god 0;
    }
  }

  &.benefits {

    .background.image {
      margin: @space-jumbo 0;
    }
  }

  &.tools {

    @media (min-width: @tablet-width) {
      padding: @space-massive 0;
    }
  }

  &.posts {

    @media (min-width: @tablet-width) {
      padding: @space-massive 0;
    }
  }
}
