@import '../../../variables';

// statements styles

.statement {
	color: @secondary-color;

	&.mission {
		margin: @space-base auto;
		text-align: center;
	}

	&.leading {
		color: @primary-color;
	}
}
