@import '../../../variables';

// statements styles

.statement {

  @media (min-width: @tablet-width) {
    padding-bottom: @space-small;
  }

  &.mission {
    margin: @space-base auto;
  }

  &.supporting {

    &.mission {
      text-indent: @space-large;
      letter-spacing: @space-atomic;
    }
  }
}
