@import '../../../variables';

// statements styles

.statement {
	color: @secondary-color;

	&.mission {
		margin: @space-large auto;
		font-size: @font-size-large;
		text-align: center;
	}

	&.leading {
		color: @primary-color;
		font-size: @font-size-base;
	}
}
