<template name="endmatter">
	<div class="endmatter module grid">
    <section class="contact cell">
      <p>Contact</p>
      <ul class="list">
        <li class="list item">
          <a class="info" href="mailto:newbiz@utool.com">newbiz@utool.com</a>
        </li>
        <li class="list item">
          <a class="info" href="mailto:careers@utool.com">careers@utool.com</a>
        </li>
        <li class="list item">
          <a class="info" href="mailto:press@utool.com">press@utool.com</a>
        </li>
      </ul>
    </section>
  </div>
</template>
