<template name="posts">
  <div class="posts article module">
    <h3 class="statement">Latest Articles</h3>

    <article class="post">
  	  <h4 class="title">
        <a class="id link" href="#">The Diamond Age is Upon Us</a>
      </h4>
      <p class="excerpt">Given the acceleration of software engineering and the growing popular of social coding platforms like GitHub, we're seeing the dawn of the age of self-sustainability.</p>
    </article>

    <article class="post">
      <h4 class="title">
        <a class="id link" href="#">The Diamond Age is Upon Us</a>
      </h4>
      <p class="excerpt">Given the acceleration of software engineering and the growing popular of social coding platforms like GitHub, we're seeing the dawn of the age of self-sustainability.</p>
    </article>

    <a class="route link">View our blog</a>
  </div>
</template>
