<template name="post">
    <article class="post article module">
        <section class="header segment">
            <h1 class="title">
                {{post.title}}
                <small class="meta date">{{formatDate post.createdAt}}</small>
            </h1>
        </section>
        <section class="basic fluid segment">
            <img class="fluid image" src="http://placehold.it/800x200"/>
        </section>
        <section class="post body segment">{{{post.body}}}</section>
        <section class="author segment">
            <!-- @TODO: global author module -->
            <div class="author module">
                {{post.getCreator.profile.name}}
            </div>
        </section>
    </article>
</template>
