<template name="posts">
    <div class="posts article module">
        {{#if root}}
            {{#each limitedPosts}}
                <article class="root post">
                    <h4 class="title">
                        <a class="id link" href="{{pathFor 'article'}}">
                            {{title}}
                        </a>
                    </h4>

                    <p class="excerpt">{{excerpt}}</p>
                </article>
            {{/each}}
            <a class="route link" href="{{pathFor 'blog'}}">View our blog</a>
        {{else}}
            {{#each posts}}
                <article class="blog post">
                    <a class="id link" href="{{pathFor 'article'}}">
                        <span class="meta date">{{formatDate createdAt}}</span>

                        <h2 class="title">{{title}}</h2>
                        <span class="meta creator">posted by {{getCreator.profile.name}}</span>
                    </a>
                </article>
            {{/each}}
        {{/if}}
    </div>
</template>
