<template name="members">
	<div class="members module top gutter grid">
	  {{#each members}}
		  <div class="member cell">
				<figure class="card">
			    <img class="fluid image" src="{{thumb}}" />
					<figcaption class="caption">
					  <h4 class="name">
						  {{name}}
						  <small class="title">
							  {{rank}}, {{title}}
						  </small>
					  </h4>
					  <div class="social">
						  <ul class="inline list">
							  {{#each social}}
							    <li class="item">
								    <a class="icon" href="{{url}}" target="_blank">
									    <i class="{{icon}}"></i>
								    </a>
							    </li>
							  {{/each}}
						  </ul>
					  </div>
				  </figcaption>
				</figure>
		  </div>
			<!--leader template should appear only in the members section-->
			<div class="member">
				<img src="{{image}}" />
				<h4>{{name}}
				<small>{{rank}}, {{title}}</small>
				</h4>
				<p>{{summary}}</p>
			</div>


		{{/each}}
	</div>
</template>
