<template name="members">
	<div class="members module gutter grid">
		{{#if root}}
	    {{#each members}}
		    <div class="member cell">
				  <figure class="root card">
			      <img class="fluid image" src="{{thumb}}" />
					  <figcaption class="caption">
					    <h4 class="name">
						    {{name}}
						    <small class="title">
							    {{rank}}, {{title}}
						    </small>
					    </h4>
					    <div class="social">
						    <ul class="inline list">
							    {{#each social}}
							      <li class="item">
								      <a class="icon" href="{{url}}" target="_blank">
									      <i class="{{icon}}"></i>
								      </a>
							      </li>
							    {{/each}}
						    </ul>
					    </div>
				    </figcaption>
				  </figure>
		    </div>
			{{/each}}
		{{else}}
		  {{#each members}}
			  <div class="full member cell">
				  <figure class="about card">
					  <img class="image" src="{{image}}" />
					  <figcaption class="caption">
						  <h4 class="name">{{name}}
							  <small class="title">
									{{rank}}, {{title}}
								</small>
						  </h4>
						  <div class="summary">
								{{{summary}}}
							</div>
							<div class="social">
								<ul class="inline list">
									{{#each social}}
										<li class="item">
											<a class="icon" href="{{url}}" target="_blank">
												<i class="{{icon}}"></i>
											</a>
										</li>
									{{/each}}
								</ul>
							</div>
					  </figcaption>
				  </figure>
			  </div>
      {{/each}}
		{{/if}}
	</div>
</template>
