@import '../../../variables';

// article module styles

.module.article {
  padding: 0;
  margin-bottom: @space-base;

  @media (min-width: @tablet-width) {
    margin-bottom: @space-large;
  }

  .title {
    margin-bottom: @space-small;
  }

  &.tool {

  }

  &.posts {

    .blog.post {
      margin: @space-large auto;
      border-bottom: @space-micro solid @gray-lighter;

      .id.link {
        display: inline-block;
        width: @full;
        margin-bottom: @space-large;
        text-decoration: none;

        .meta {
          display: block;
          color:  darken(@gray-lighter, 5%);
          font-weight: normal;
        }

        .title {
          padding: 0;
          margin: @space-tiny 0;
          text-decoration: underline;
          line-height: @line-height-base;
        }
      }
    }
  }

  &.post {

    .title {
      display: block;
      position: relative;
      text-align: center;

      .meta {
        position: absolute;
        top: @space-base + @space-tiny;
        right: 0;
        color: darken(@gray-lighter, 5%);
        font-size: @half;
        font-weight: normal;
      }
    }
  }
}
